################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLQueryBuilder/.vs/SQLQueryBuilder/v15/Server/sqlite3/db.lock
/SQLQueryBuilder/.vs/SQLQueryBuilder/v15/Server/sqlite3/storage.ide
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/db.lock
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/storage.ide
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/storage.ide-shm
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/storage.ide-wal
/LeapfrogUWP/.vs/LeapfrogUWP/FileContentIndex/1ce5a047-8ab6-4622-841c-07a2c807ef2b.vsidx
/LeapfrogUWP/.vs/LeapfrogUWP/FileContentIndex/e468bc54-fadb-49d2-bbd7-ba9b6abe8a2c.vsidx
/LeapfrogUWP/.vs/LeapfrogUWP/FileContentIndex/8ad3eca2-bfbd-4f08-96dd-eb2a7c423bec.vsidx
/LeapfrogUWP/.vs/LeapfrogUWP/FileContentIndex/eb9fdb5d-628b-49ff-858a-13abecb49ea8.vsidx
/LeapfrogUWP/.vs/LeapfrogUWP/FileContentIndex/639b4bd5-4836-4759-938a-fc93fe4a4e6e.vsidx
/LeapfrogUWP/.vs/LeapfrogUWP/FileContentIndex
