################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLQueryBuilder/.vs/SQLQueryBuilder/v15/Server/sqlite3/db.lock
/SQLQueryBuilder/.vs/SQLQueryBuilder/v15/Server/sqlite3/storage.ide
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/db.lock
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/storage.ide
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/storage.ide-shm
/LeapFrog/.vs/LeapFrog/v15/Server/sqlite3/storage.ide-wal
